<div>
  <h3>Students</h3>
  <%= link_to("Add a New Student", new_student_path) %>
  <table class="table table-condensed table-hover">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
    <% @students.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><%= s.name %></td>
      <td>
        <%= link_to("Show", student_path(s)) %>
        <%= link_to("Edit",  edit_student_path(s)) %>
        <%= link_to("Delete", s, method: :delete, data: { confirm: 'Are you sure you want to delete this student?' }) %>
      </td>
    </tr>
    <% end %>
  </table>
  <h4>Total count: <%= @students.count %></h4>
</div>