<div>
  <%= link_to("<< Back to List", students_path) %>
  <div>
    <h3>Show Student</h3>
    <table class="table table-condensed">
      <tr>
        <td>Name </td>
        <td><%= @student.name %></td>
      </tr>
    </table>
    <div class="indent">
      <h4>Courses</h4>
      <table class="table table-condensed">
        <%= link_to("Add a New Course", new_student_student_course_path(@student)) %>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>Note</th>
          <th>&nbsp;</th>
        </tr>
        <% @student.student_courses.each do |s| %>
        <tr>
          <td><%= s.id %></td>
          <td><%= s.course.name %></td>
          <td><%= s.note %></td>
          <td>
            <%= link_to("Delete", [s.student, s], method: :delete, data: { confirm: 'Are you sure you want to delete this course?' }) %>
          </td>
        </tr>
        <% end %>
      </table>
      <h4>Course count: <%= @student.student_courses.count %></h4>
    <hr> 
  </div>
</div>
