<div>
  <%= link_to("<< Back to List", courses_path) %>
  <div>
    <h3>Edit Course</h3>
    <%= form_for [@course] do |f| %>
      <table>
        <tr>
          <th>Name</th>
          <td class="form-edit"><%= f.text_field(:name) %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td class="form-edit"><%= f.text_field(:description) %></td>
        </tr>
      </table>
      <div class="button-save">
        <%= submit_tag("Update Course") %>
      </div>
    <% end %>
  </div>
</div>