<div>
  <%= link_to("<< Back to List", courses_path) %>
  <div>
    <h3>Create New Course</h3>
    <%= form_for @course do |f| %>
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <td class="form-edit"><%= f.text_field(:name) %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td class="form-edit"><%= f.text_field(:description) %></td>
        </tr>
      </table>
      <%= f.submit "Create Course", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>